<ion-header>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-segment scrollable>
      <ion-segment-button>
        <ion-icon name="home"></ion-icon>
        IGTV
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="heart"></ion-icon>
        Sales
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="pin"></ion-icon>
        Shopping
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="star"></ion-icon>
        Entertainment
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="call"></ion-icon>
        Social
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="globe"></ion-icon>
        Web
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="basket"></ion-icon>
        Shop
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
